- name: Install Kubernetes cluster with containerd for NODs
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: 005 Test ping
      ping:

    - name: 010 Switch IP forwarding
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: true
        state: present
        reload: true

    - name: 015 Ensure IP forwarding is persistent
      lineinfile:
        path: /etc/sysctl.conf
        regexp: '^net.ipv4.ip_forward'
        line: 'net.ipv4.ip_forward = 1'
        state: present

    - name: 020 Update cache
      apt:
        update_cache: yes

    - name: 025 Set dependencies for add repo
      ansible.builtin.apt:
        name: [software-properties-common, curl, ca-certificates]
        state: present

    - name: 030 Remove CRI-O and Docker to avoid conflicts
      ansible.builtin.apt:
        name: [cri-o, docker, docker.io]
        state: absent
        purge: yes

    - name: 035 Add repo Kubernetes (v1.35)
      ansible.builtin.deb822_repository:
        name: kubernetes
        types: [deb]
        uris: "https://pkgs.k8s.io/core:/stable:/v1.35/deb/"
        suites: [/]
        signed_by: "https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key"
        state: present
        enabled: true

    - name: 036 Create keyrings directory
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: 037 Download Docker's GPG key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: 038 Determine Ubuntu codename
      shell: |
        . /etc/os-release
        echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}"
      register: ubuntu_codename # link_01
      changed_when: false

    - name: 039 Add Docker repository to Apt sources
      ansible.builtin.deb822_repository:
        name: docker
        types: [deb]
        uris: "https://download.docker.com/linux/ubuntu"
        suites: "{{ ubuntu_codename.stdout }}" # link_01 Кодовое имя дистрибутива
        components: [stable]
        signed_by: "https://download.docker.com/linux/ubuntu/gpg"
        state: present
        enabled: true

    - name: 040 Update cache
      apt:
        update_cache: yes

    - name: 041 Install containerd
      ansible.builtin.apt:
        name: [docker-ce, docker-ce-cli, containerd.io, docker-buildx-plugin, docker-compose-plugin]
        state: present
        update_cache: yes

# Инструкция:
# https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd
    - name: 042 Del dir /etc/containerd if exist
      ansible.builtin.file:
        path: /etc/containerd
        state: absent

    - name: 045 Configure containerd
      block:
        - name: Create containerd config directory
          file:
            path: /etc/containerd
            state: directory

        - name: Generate default containerd config
          command: containerd config default
          args:
            creates: /etc/containerd/config.toml
          register: config_result

        - name: Save containerd config
          copy:
            content: "{{ config_result.stdout }}"
            dest: /etc/containerd/config.toml

        - name: Enable systemd cgroup driver for containerd
          replace:
            path: /etc/containerd/config.toml
            regexp: 'SystemdCgroup = false'
            replace: 'SystemdCgroup = true'
          when: ansible_os_family == "Debian"

    - name: 050 Start and enable containerd
      systemd:
        name: containerd
        state: restarted
        enabled: true

    - name: 055 Install Kubernetes components
      ansible.builtin.apt:
        name: [apt-transport-https, gpg, kubelet, kubeadm, kubectl]
        state: present
        update_cache: yes
      # Добавление параметра retries
      register: apt_res
      until: apt_res is success
      retries: 5
      delay: 10

    - name: 060 Fix Kubernetes packages version
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop: [kubelet, kubeadm, kubectl]

    - name: 065 Disable swap now
      command: swapoff -a
      when: ansible_swaptotal_mb > 0
      ignore_errors: true  # Продолжть даже если swap уже отключён

    - name: 070 Comment out swap in fstab (if present)
      replace:
        path: /etc/fstab
        regexp: '^([^#].*?\sswap\s+.*)$'
        replace: '# \1'
      when: ansible_swaptotal_mb > 0  # Изменение только если swap был обнаружен

    - name: 075 Load and persist core modules
      community.general.modprobe:
        name: "{{ item }}"
        state: present
        persistent: present 
      loop:
        - br_netfilter
        - overlay

    - name: 080 Ensure kubelet is started and enabled
      systemd:
        name: kubelet
        state: started
        enabled: true
