global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: "prometheus"

  - job_name: 'monitoring'
    scrape_interval: 15s
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          nodename: 'SERVER'

      - targets: ['178.154.230.244:9100'] # IP удаленного сервера с которого берутся метрики
        labels:
          nodename: 'WORKER'
