global:
  scrape_interval: 15s # Установка интервала сбора данных на каждые 15 секунд. По умолчанию — каждую 1 минуту.
  evaluation_interval: 15s # Проверка правила каждые 15 секунд. По умолчанию — каждые 1 минуту.
  # scrape_timeout is set to the global default (10s).

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: "prometheus"

  - job_name: 'monitoring'
    scrape_interval: 15s
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          nodename: 'SERVER'

{% for host in groups['agent'] %}
      - targets: ['{{ hostvars[host]['ansible_host'] }}:9100']
        labels:
          nodename: '{{ host }}'
{% endfor %}
