- name: Install Kubernetes cluster for NODs
  hosts: all
  become: true

  tasks:
    - name: tast ping
      ping:

    - name: switch IP forwarding
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: true
        state: present
        reload: true

    - name: Update cache
      apt:
        update_cache: yes

    - name: Set depends for add repo
      ansible.builtin.apt:
        name: [software-properties-common, curl]
        state: present

    - name: Add repo Kubernetes (v1.35)
      ansible.builtin.deb822_repository:
        name: kubernetes
        types: [deb]
        uris: "https://pkgs.k8s.io/core:/stable:/v1.35/deb/"
        suites: [/]
        signed_by: "https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key" # Сохраняет ключ в надежное место (обычно /etc/apt/keyrings/<name>.gpg или внутри самого файла .sources)
        state: present
        enabled: true

    - name: Add repo CRI-O (v1.35) # источник для deb пакетов https://kubernetes.io/blog/2023/10/10/cri-o-community-package-infrastructure/#deb-based-distributions
      ansible.builtin.deb822_repository:
        name: CRI-O
        types: [deb]
        uris: "https://download.opensuse.org/repositories/isv:/cri-o:/stable:/v1.35/deb/"
        suites: [/]
        signed_by: "https://download.opensuse.org/repositories/isv:/cri-o:/stable:/v1.35/deb/Release.key"
        state: present
        enabled: true

    - name: Install kubeadm
      ansible.builtin.apt:
        name: [apt-transport-https, ca-certificates, gpg, kubelet, kubeadm, kubectl, cri-o]
        state: present
        update_cache: yes # sudo apt update

    - name: Fix Kubernetes packages version
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop: [kubelet, kubeadm, kubectl, cri-o]

    - name: Ensure CRI-O is started and enabled
      ansible.builtin.systemd:
        name: crio
        state: started
        enabled: true

    - name: Switch off Swap now
      ansible.builtin.command: swapoff -a
      when: ansible_swaptotal_mb > 0

    - name: Del Swap in fstab (forever)
      ansible.builtin.replace:
        path: /etc/fstab
        regexp: '^([^#].*?\sswap\s+.*)$'
        replace: '# \1'

    - name: Load core modules now
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - br_netfilter
        - overlay

    - name: Set autoload modules
      ansible.builtin.copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter
        mode: '0644'

    - name: launch and swich on CRI-O
      ansible.builtin.systemd:
        name: crio
        state: started
        enabled: true
        masked: false

    - name: Autocompletion kubectl
      ansible.builtin.shell: |
        source <(kubectl completion bash)
        echo "source <(kubectl completion bash)" >> ~/.bashrc
      args:
        executable: /bin/bash

- name: Setting bastion
  hosts: bastion
  become: true

  tasks:
    - name: Init master-node
      ansible.builtin.shell: |
        kubeadm init --pod-network-cidr=10.244.0.0/16
      args:
        # Скрипт запустится ТОЛЬКО если файла нет
        creates: /etc/kubernetes/admin.conf

- name: Run the commands as a regular user for start using cluster
  hosts: bastion
  become: true
  tasks:
    - name: Create .kube directory
      ansible.builtin.file:
        path: "/home/osho/.kube"
        state: directory
        owner: osho # !!! ЗАМЕНИТЬ НА СВОЕГО ПОЛЬЗОВАТЕЛЯ !!!
        group: osho # !!! ЗАМЕНИТЬ НА СВОЕГО ПОЛЬЗОВАТЕЛЯ !!!
        mode: '0755'

    - name: Copy admin.conf to osho home dir
      ansible.builtin.copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/osho/.kube/config
        remote_src: yes  # Копируем внутри сервера
        owner: osho # !!! ЗАМЕНИТЬ НА СВОЕГО ПОЛЬЗОВАТЕЛЯ !!!
        group: osho # !!! ЗАМЕНИТЬ НА СВОЕГО ПОЛЬЗОВАТЕЛЯ !!!
        mode: '0600'

- name: Flannel
  hosts: bastion
  become: true

  tasks:
    - name: Проверка наличия Flannel в кластере
      shell: "kubectl get pods -A --kubeconfig=/etc/kubernetes/admin.conf | grep kube-flannel"
      register: flannel_check
      ignore_errors: true  # Не останавливать playbook, если есть ошибка
      changed_when: false  # Чтобы задача не помечалась как "изменено"

    - name: Installing flannel
      ansible.builtin.shell: |
        kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
      when: flannel_check.rc != 0
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

- name: Join worker-nodes
  hosts: all
  become: true

  tasks:
    - name: Gen join command on master-node
      ansible.builtin.command: kubeadm token create --print-join-command
      register: join_command_raw # Сохранение вывода команды kubeadm (ту самую строку kubeadm join 192.168...) в переменную только на мастере
      when: inventory_hostname == "bastion"

    - name: Сохранить команду в факт
      ansible.builtin.set_fact:
        kubernetes_join_command: "{{ join_command_raw.stdout }}"
      when: inventory_hostname == "bastion"

    - name: Присоединяем воркеры к кластеру
      ansible.builtin.shell: "{{ hostvars['bastion']['kubernetes_join_command'] }}" # Воркеры «заглядывают» в память мастера (primary), чтобы забрать сохраненный текст команды 'kubernetes_join_command' т.е. 'join_command_raw' <-- 'kubeadm token create --print-join-command'
      args:
        creates: /etc/kubernetes/kubelet.conf # Не запускать, если уже в кластере
      when: 
        - inventory_hostname != "bastion"

- name: Install Helm
  hosts: bastion
  become: true
  tasks:
    - name: Dow and unzip Helm in temp dir
      # 'unarchive' заменяет 'wget' и 'tar': этот модуль умеет сам скачивать архив по ссылке и сразу распаковывать его
      ansible.builtin.unarchive:
        src: https://get.helm.sh/helm-v4.0.4-linux-amd64.tar.gz
        dest: /tmp
        remote_src: yes # Указывает, что скачиваем прямо на сервер
        creates: /usr/local/bin/helm # Не запускать, если helm уже установлен

    - name: Move file in /usr/local/bin
      ansible.builtin.copy:
        src: /tmp/linux-amd64/helm
        dest: /usr/local/bin/helm
        mode: '0755'
        remote_src: yes
      when: not ansible_check_mode # Выполнять только если файл был скачан: переменная 'ansible_check_mode' — это встроенная переменная Ansible

    - name: Del temporary dir
      ansible.builtin.file:
        path: /tmp/linux-amd64
        state: absent